body {
    margin: 0;
    font-family: "Smythe", system-ui;
} 

/* header */
.header-container {
    width: 600px;
    height: 150px;
    margin: 0 auto;
    background-image: url('./images/burger-scrimba.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 70%;  
    
    display: flex;
    align-items: center;
}

.header-text {
    color: whitesmoke;
    padding-left: 40px;
}

h1, h2, h3, p {
    margin: 0;
    font-weight: 100;
}

h1 {
    font-size: 35px;
}

h3 {
    color: #8B8B8B;
    font-size: 12px;
}

.header-text h2 {
    padding-top: 5px;
    font-size: 20px;
}

/* items */
.container {
    width: 500px;
    margin: 0 auto;
    padding: 15px 0;
}

.list {
    display: flex;
    
}

.item {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    border-bottom: 1px solid #DEDEDE;
}

.food {
    width: 60px;
    height: 60px;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info p {
    padding-top: 5px;
}

#btn-shop {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #DEDEDE;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-shop:hover {
    box-shadow: 0px 0px 8px #DEDEDE;
}

img {
    width: 10px;
}

.align-right {
    margin-left: auto;
}

/* order */

.container h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
}

.remove-btn {
    font-family: 'Lucida Sans', sans-serif;
    cursor: pointer;
}

.product {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
}

.total {
    display: flex;
    align-items: center;
    padding: 10px 0 40px 0;
    border-top: 2px solid black ;
}

#confirm-btn {
    width: 100%;
    border: none;
    background-color: #16DB99;
    color: white;
    padding: 12px 0;
    font-size: 12px;
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

#confirm-btn:hover {
    box-shadow: 0px 0px 8px #8B8B8B;
}

/*pay section*/
.modal {
    display: none;
    font-family: 'Lucida Sans', sans-serif;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 320px;
    background-color: white;
    box-shadow: 0px 0px 80px #8B8B8B;
    border-radius: 4px;
    padding: 20px 20px;
    
}

.modal h1 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

input {
    border: 1px solid #8B8B8B;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
}

#modal-btn {
    width: 100%;
    border: none;
    background-color: #16DB99;
    color: white;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    margin: 20px 0 10px 0;
}

#modal-btn:hover {
    box-shadow: 0px 0px 5px #8B8B8B;
}

#thankyou {
    display: none;
    background-color: #ECFDF5;
    color: #065F46;
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    padding: 30px 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}